@import url("https://fonts.googleapis.com/css2?family=Poppins:wght@300;400;500;600&display=swap");

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: "Poppins", sans-serif;
}

nav {
  padding: 10px 30px;
  display: flex;
  align-items: center;
  justify-content: space-between;
  background: #202122;
  position: relative;
  height: 70px;
}

.logo {
  color: #333;
  font-size: x-large;
  text-decoration: none;
  transition: transform 0.5s cubic-bezier(0.25, 0.46, 0.45, 0.94), color 0.5s ease;
}

.logo:hover {
  transform: scale(1.1) translateX(10px);
  color: #ff69b4;
}

.logo .log {
  font-weight: 900;
  color: #fff;
  text-decoration: none;
}

nav ul {
  display: flex;
  gap: 30px;
  align-items: center;
  text-align: left;
}

nav ul li {
  list-style-type: none;
  transition: transform 0.5s ease;
}

nav ul li a {
  text-decoration: none;
  color: #fff;
  transition: color 0.5s ease;
}

nav ul li a:hover {
  color: #ccc;
}

nav .admin {
  display: inline-block;
  padding: 10px 20px;
  border-radius: 25px;
  color: #333;
  background: #ffffff56;
  text-decoration: none;
  transition: transform 0.5s ease;
}

nav .admin:hover {
  transform: scale(1.1);
}

.menu-icon {
  display: none;
}

.menu-icon i {
  color: #fff;
  font-size: 30px;
}

