@import url("https://fonts.googleapis.com/css2?family=Poppins:wght@300;400;500;600&display=swap");

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: "Poppins", sans-serif;
}

nav {
  padding: 10px 30px;
  display: flex;
  align-items: center;
  justify-content: space-between;
  background: #111010;
  position: relative;
  height: 70px;
}

.logo {
  color: #333;
  font-size: x-large;
  text-decoration: none;
  transition: transform 0.5s cubic-bezier(0.25, 0.46, 0.45, 0.94), color 0.5s ease;
}

.logo:hover {
  transform: scale(1.1) translateX(10px);
  color: #ff69b4;
}

.logo .log {
  font-weight: 900;
  color: #fff;
  text-decoration: none;
}

nav ul {
  display: flex;
  gap: 30px;
  align-items: center;
  text-align: left;
}

nav ul li {
  list-style-type: none;
  transition: transform 0.5s ease;
}

nav ul li a {
  text-decoration: none;
  color: #fff;
  transition: color 0.5s ease;
}

nav ul li a:hover {
  color: #ccc;
}

nav .admin {
  display: inline-block;
  padding: 10px 20px;
  border-radius: 25px;
  color: #333;
  background: #ffffff56;
  text-decoration: none;
  transition: transform 0.5s ease;
}

nav .admin:hover {
  transform: scale(1.1);
}

.menu-icon {
  display: none;
}

.menu-icon i {
  color: #fff;
  font-size: 30px;
}

.body {
    display: flex;
    padding: 0 35px;
    align-items: center;
    justify-content: center;
    min-height: 90vh;
  }
  .wrapper {
    max-width: 1100px;
    width: 100%;
    position: relative;
  }
  .wrapper i {
    top: 50%;
    height: 50px;
    width: 50px;
    cursor: pointer;
    font-size: 1.25rem;
    position: absolute;
    text-align: center;
    line-height: 50px;
    background: #fff;
    border-radius: 50%;
    box-shadow: 0 3px 6px rgba(0,0,0,0.23);
    transform: translateY(-50%);
    transition: transform 0.1s linear;
  }
  .wrapper i:active{
    transform: translateY(-50%) scale(0.85);
  }
  .wrapper i:first-child{
    left: -22px;
  }
  .wrapper i:last-child{
    right: -22px;
  }
  .wrapper .carousel{
    display: grid;
    grid-auto-flow: column;
    grid-auto-columns: calc((100% / 3) - 12px);
    overflow-x: auto;
    scroll-snap-type: x mandatory;
    gap: 16px;
    border-radius: 8px;
    scroll-behavior: smooth;
    scrollbar-width: none;
  }
  .carousel::-webkit-scrollbar {
    display: none;
  }
  .carousel.no-transition {
    scroll-behavior: auto;
  }
  .carousel.dragging {
    scroll-snap-type: none;
    scroll-behavior: auto;
  }
  .carousel.dragging .card {
    cursor: grab;
    user-select: none;
  }
  .carousel :where(.card, .img) {
    display: flex;
    justify-content: center;
    align-items: center;
  }
  .carousel .card {
    scroll-snap-align: start;
    height: 380px;
    list-style: none;
    background: #1817178f;
    cursor: pointer;
    padding-bottom: 15px;
    flex-direction: column;
    border-radius: 8px;
  }
  .carousel .card .img {
    background: #141414;
    height: 210px;
    width: 210px;
    border-radius: 50%;
  }
  .card .img img {
    width: 195px;
    height: 195px;
    border-radius: 50%;
    object-fit: cover;
    border: 4px solid #ffffff;
  }
  .carousel .card h2 {
    color: white;
    font-weight: 500;
    font-size: 1.56rem;
    margin: 30px 0 5px;
  }
  .carousel .card span {
    color: #fcfcfc;
    font-size: 1.31rem;
  }
  @media screen and (max-width: 900px) {
    .wrapper .carousel {
      grid-auto-columns: calc((100% / 2) - 9px);
    }
  }
  @media screen and (max-width: 600px) {
    .wrapper .carousel {
      grid-auto-columns: 100%;
    }
  }
  @media screen and (max-width: 768px) {
    nav {
      position: relative; /* Change position to relative */
      z-index: 1000; /* Set a high z-index value */
      padding: 10px 30px;
      display: flex;
      align-items: center;
      justify-content: space-between;
      background: #202122;
      height: 70px;
  }
  
  nav ul {
      position: absolute;
      top: 70px;
      left: 0;
      right: 0;
      flex-direction: column;
      text-align: center;
      background: #020202d0;
      gap: 0;
      overflow: hidden;
      z-index: 999; /* Set a z-index value lower than nav */
      border-radius: 0px 0px 22px 20px;
  
  }
  
  nav ul li {
      padding: 25px;
      padding-top: 15px;
  }
  
  .menu-icon {
      display: block;
  }
  
  #menuList {
      transition: all 0.5s;
  }
    }