@import url("https://fonts.googleapis.com/css2?family=Poppins:wght@300;400;500;600&display=swap");

:root {
  --primary-color: rgba(39, 36, 34, 0.562);
  --text-dark: #fff;
  --white: #302b2b93;
  --max-width: 1600px;
   --padding-left: 1000px;
  }

* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}
nav{
  padding: 10px 30px;
  display: flex;
  align-items: center;
  justify-content: space-between;
  background: #202122;
  position: relative;
  height: 70px;
}

.logo {
  color: #333;
  font-size: x-large;
  text-decoration: none;
  transition: transform 0.5s cubic-bezier(0.25, 0.46, 0.45, 0.94), color 0.5s ease; /* Add transitions for smooth scaling, rotation, and color change */
}

.logo:hover {
  transform: scale(1.1) translateX(10px); /* Scale the logo slightly and translate it horizontally on hover */
  color: #ff69b4; /* Change color on hover */
}
.logo .log {
  font-weight: 900;
  color: #fff;
  text-decoration: none;

}

nav ul{
  display: flex;
  gap: 30px;
  align-items: center;
  text-align: left;

}

nav ul li{
  list-style-type: none;
      transition: transform 0.3s ease; /* Add smooth transition for scale */

}

nav ul li a {
  text-decoration: none;
  color: #fff;
  transition: color 0.3s ease; /* Add smooth transition for color */
}

nav ul li a:hover {
  color: #ccc; /* Change color on hover */
}



nav .admin{
  display: inline-block;
  padding: 10px 20px;
  border-radius: 25px;
  color: #333;
  background: #ffffff56;
  text-decoration: none;
  transition: transform 0.3s ease; /* Add smooth transition for transform */

}
nav .admin:hover {
  transform: scale(1.10); /* Scale up by 5% on hover */
}


.menu-icon{
  display: none;
}

.menu-icon i{
  color: #fff;
  font-size: 30px;
}
.btn {
  text-decoration: none; 
  color: black;
  outline: none;
  border: none;
  transition: 0.3s;
  cursor: pointer;
}

img {
  display: flex;
  width: 100%;
}

a {
  text-decoration: none;
  transition: 0.3s;
}

body {
  font-family: "Poppins", sans-serif;
}


.container {
  max-width: var(--max-width);
  margin: auto;
  padding: 3.5rem 0; /* Adjust the padding-top value to lower the container */
  position: relative;
  isolation: isolate;
  display: grid;
  gap: 2rem;
  overflow: hidden;
  --max-width: 1200px;

}

.container__left {
  padding-inline: 1rem;
  text-align: center;
  animation: fadeInDown 1s ease forwards; /* Apply the animation */
}

@keyframes fadeInDown {
  from {
    opacity: 0;
    transform: translateY(-40px);
  }
  to {
    opacity: 1;
    transform: translateY(0);
  }
}


.container__left h1 {
  margin-bottom: 3.5rem;
  margin-top: -2.5rem;
  font-size:5REM;
  font-weight: 600;
  line-height: 5.5rem;
  color: var(--text-dark);
}

.container__left h1 span{
  font-style: italic;
  font-size: 5.5Rem;
  font-weight: 700;
}

.container__left .btn {
  font-weight: 800;
  padding: 1rem 2rem;
  letter-spacing: 1.5px;
  color: var(rgba(0, 0, 0, 0.781));
  background-color: var(--text-dark);
  border-radius: 5rem;
  transition: all 0.3s ease; /* Add a smooth transition for all properties */
}

.container__left .btn:hover {
  color: var(--text-dark);
  background-color: var(--primary-color);
  transform: scale(1.05); /* Slightly scale up the button on hover */
  box-shadow: 0 8px 16px rgba(0, 0, 0, 0.3); /* Add a subtle shadow on hover */
}


.container__right {
  position: relative;
  isolation: isolate;
  display: grid;
  gap: 2rem;
}

.container__right::before {
  position: absolute;
  content: "";
  bottom: 0;
  left: 50%;
  transform: translateX(-50%);
  width: 0;
  transform-origin: left;
  height: 80%;
  background-color: var(--primary-color);
  border-radius: 1rem;
  z-index: -1;
  animation: show 0.75s 1.25s ease-in-out forwards;
}

@keyframes show {
  0% {
    width: 0;
  }
  100% {
    width: calc(100% - 2rem);
  }
}

.images {
  display: flex;
  align-items: center;
  justify-content: center;
}

@keyframes fadeIn {
  from {
    opacity: 0;
    transform: translateX(-20px); /* Start position */
  }
  to {
    opacity: 1;
    transform: translateX(0); /* End position */
  }
}

.tent-1, .tent-2 {
  max-width: 300px; /* Adjust as needed */
  border-radius: 1rem;
  box-shadow: 5px 5px 20px rgba(0, 0, 0, 0.2);
  animation: fadeIn 0.8s ease-out forwards; /* Apply animation */
}

.tent-1 {
  transform: translateX(1rem);
}

.tent-2 {
  max-width: 180px; /* Adjust as needed */
  transform: translateX(-1rem);
}


@keyframes fadeInFromBottom {
  from {
    opacity: 0;
    transform: translateY(50px);
  }
  to {
    opacity: 1;
    transform: translateY(0);
  }
}

.content {
  margin-top: -1rem;
  padding-block: 0 5rem;
  padding-inline: 2rem;
  text-align: center;
  opacity: 0; /* Start with opacity 0 */
  animation: fadeInFromBottom 0.5s ease-out forwards; /* Apply animation */
}



.content h4 {
  margin-bottom: 1rem;
  font-size: 1rem;
  font-weight: 500;
  color: var(--text-dark);
}

.content h2 {
  margin-top: -3.2rem;
  margin-bottom: 0.5rem;
  font-size: 2.8rem;
  font-weight: 700;
  letter-spacing: 2px;
  color: var(--text-dark);
}

.content h3 {
  margin: 0.8rem;
  margin-bottom: 1rem;
  font-size: 1rem;
  font-weight: 600;
  color: var(--text-dark);
}
h3 a {
  line-height: 1.5rem;
  text-decoration: none;
  color: inherit; /* Inherits the color from the parent element */
  transition: color 0.3s ease, transform 0.3s ease, font-size 0.3s ease;
  display: inline-block;
}

h3 a:hover {
  color: hsl(0, 0%, 100%); /* Changes color on hover */
  transform: scale(0.7rem); /* Slightly enlarges the link */
  font-size: 1.1em; /* Increases the font size */
  text-shadow: 0 4px 8px rgba(0, 0, 0, 0.3); /* Adds shadow on hover */

}


.content p {
  margin-bottom: 1rem;
  line-height: 1.75rem;
  color: var(--text-dark);
}

.location {
  position: absolute;
  left: 1rem;
  bottom: 8.2rem;
  padding: 1rem 2rem 1rem 1rem;
  border-radius: 1rem;
  display: flex;
  align-items: center;
  gap: 1rem;
  font-size: 0.9rem;
  font-weight: 600;
  background-color: #1d191993;
  border-bottom: none;
  opacity: 0; /* Initially hide the location */
  animation: slideIn 0.8s cubic-bezier(0.25, 0.46, 0.45, 0.94) forwards; /* Apply slide-in animation */
  transition: transform 0.3s ease, box-shadow 0.3s ease, background-color 0.3s ease;
}

.location:hover {
  transform: translateY(-5px) scale(1.05); /* Slightly lift and enlarge the element */
  box-shadow: 0 8px 16px rgba(0, 0, 0, 0.3); /* Add a more pronounced shadow */
  background-color: #2a2727b3; /* Slightly darken the background color */
}


@keyframes slideIn {
  from {
    transform: translateY(100px); /* Start with a downward translation */
    opacity: 0; /* Start with opacity 0 */
  }
  to {
    transform: translateY(0); /* End with no translation */
    opacity: 1; /* End with opacity 1 */
  }
}

.location:hover {
  color: #111010;
  background-color:#131313ab;
}
.location a:hover {
  color: #ece9e9;
}


.location a {
  padding: 5px 10px;
  font-size: 1.5rem;
  color: var(--text-dark);
  border-radius: 10px;
}

.socials {
  padding: 13px;
  border-radius: 30px;
  position: absolute;
  bottom: 10.5rem;
  right: 4rem;
  display: flex;
  align-items: center;
  gap: 10px;
  opacity: 0; /* Initially hide the socials */
  animation: fadeIn 1s ease-in-out forwards; /* Apply fade-in animation */
}
h3 .socials_2 a {
  font-size: 2rem;
  margin-bottom: 1rem;
  transition: color 0.3s ease-in-out, transform 0.3s ease-in-out, text-decoration 0.3s ease-in-out;
}

h3 .socials_2 a:hover {
  color: #e6e4eb; /* Change to desired hover color */
  transform: scale(1.1); /* Scale up slightly on hover */
}




@keyframes fadeIn {
  0% {
    opacity: 0;
    transform: translateY(20px); /* Optional: slide up effect */
  }
  100% {
    opacity: 1;
    transform: translateY(0); /* End at original position */
  }
}

.socials_2 a{
  font-weight: 400;
  text-decoration: none;
  color: white;
  font-size: 1.3rem;

}


@keyframes fadeIn {
  from {
    opacity: 0; /* Start with opacity 0 */
  }
  to {
    opacity: 1; /* End with opacity 1 */
  }
}



.socials a {
  font-size: 1.5rem;
  color: var(--text-dark);
}
.socials i:hover{
  padding: 5px;
  border-radius: 5px;

  background-color: rgba(31, 32, 32, 0.281);
}
@media screen and (max-width: 768px) {

  nav {
    position: relative; /* Change position to relative */
    z-index: 1000; /* Set a high z-index value */
    padding: 10px 30px;
    display: flex;
    align-items: center;
    justify-content: space-between;
    background: #202122;
    height: 70px;
}

nav ul {
    position: absolute;
    top: 70px;
    left: 0;
    right: 0;
    flex-direction: column;
    text-align: center;
    background: #020202d0;
    gap: 0;
    overflow: hidden;
    z-index: 999; /* Set a z-index value lower than nav */
    border-radius: 0px 0px 22px 20px;

}

nav ul li {
    padding: 25px;
    padding-top: 15px;
  }

.menu-icon {
    display: block;
}

#menuList {
    transition: all 0.5s;
}
.location{
  bottom: 0;
  margin-bottom:55px;
}
.socials{
  bottom: 0;
  margin-bottom: 85px;
  right: 0;
  margin-right: 20px;
}
}

@media (width > 768px) {
 


  .container {
    grid-template-columns: 2fr 3fr;
    align-items: center;
      }

  .container__left {
    text-align: left;
  }

}

@media (width > 768px) {
  .container__right {
    grid-template-columns: 1fr 2fr;
    align-items: center;
  }

  .container__right::before {
    bottom: unset;
    top: 0;
    height: 90%;
  }

  .images {
    flex-direction: column;
  }

  .tent-1 {
    width: calc(100% + 10rem);
    max-width: 325px;
    transform: translate(-2rem, 2rem);
  }

  .tent-2 {
    max-width: 200px;
    transform: translate(4rem, -1rem);
  }

  .content {
    padding-block: 5rem;
    text-align: center;
    max-width: 400px;
    margin-inline-start: unset;
  }


}


